apiVersion: v1
baseDomain: {{ net.domain }}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: control
  replicas: {{ groups['control'] | length }}
  platform:
    baremetal: {}
metadata:
  name: {{ openshift.name }}
networking:
  networkType: OVNKubernetes
  machineCIDR: {{ libvirt.cidr }}
  clusterNetworks:
  - cidr: {{ net.cluster_cidr }}
    hostPrefix: {{ net.cluster_prefx }}
  serviceNetwork:
  - {{ net.service }}
platform:
  baremetal:
    externalBridge: {{ libvirt.name }}
    bootstrapProvisioningIP: {{ libvirt.cidr | ansible.netcommon.nthhost(20) }}
    provisioningNetwork: "Disabled"
    apiVIP: {{ libvirt.cidr | ansible.netcommon.nthhost(3) }}
    ingressVIP: {{ libvirt.cidr | ansible.netcommon.nthhost(2) }}
    hosts:
{% for c in groups['control'] %}
      - name: {{ c }}
        role: master
        bmc:
          address: redfish-virtualmedia://[{{ libvirt.cidr | ansible.netcommon.nthhost(1) }}]:8000/redfish/v1/Systems/{{ hostvars[c].uuid }}
          username: ADMIN
          password: ADMIN
          disableCertificateVerification: True
        bootMACAddress: {{ hostvars[c].spec.mac }}
        bootMode: "legacy"
        rootDeviceHints:
          deviceName: "/dev/vda"
{% endfor %}
imageContentSources:
  - mirrors:
    - registry.{{ net.domain }}:5000/ocp4
    - registry.{{ net.domain }}:5000/ocp4/release
    source: quay.io/openshift-release-dev/ocp-release
  - mirrors:
    - registry.{{ net.domain }}:5000/ocp4
    - registry.{{ net.domain }}:5000/ocp4/release
    source: quay.io/openshift-release-dev/ocp-v4.9-art-dev
additionalTrustBundle: |
  {{ ca.content | b64decode | indent(width=2)}}
sshKey: '{{ key.sshkey }}'
pullSecret: '{"auths":{"registry.{{ net.domain }}":{"auth":"{{ (registry.user + ':' + registry.password) | b64encode }}"}}}'
